@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

body {
    font-family: 'Catamaran', sans-serif;
    background-color: #F0F3F5;
}

h3 {
    font-weight: 700;
    font-size: 22px;
}

h4 {
    font-weight: 700;
    font-size: 20px; 
}


h5 {
    font-weight: 500;
    font-size: 16px; 
    color: grey; 
}

h6 {
    font-weight: 500;
    font-size: 14px; 
    color:grey; 
}

button {
    all: unset;
}

#logo {
    font-weight: 550;
    font-size: 16px;
}

#title {
    font-weight: 700;
    font-size: 30px;
}

.categories-btn {
    background-color: white;
    height: 110px;
    width: 85px;
    font-size: 12px; 
    font-weight: 650;
    border-radius: 15px;
    text-align: center; 
    /*falta acoplar botones con numero */
}

.counter-btn {
    background-color: white; 
    height: 22px;
    width: 20px;
    text-align: center;
    color: grey; 
    font-family: 'Catamaran', sans-serif;
}

#counter-num {
    all:unset; 
    background-color: #F0F3F5;
    width: 20px;
    height: 22px;
    font-size:11px;
    text-align: center;
    font-weight: 500;
    font-family:'DM Sans', sans-serif; 
}

#min-btn {
    border-radius: 3px 0px 0px 3px;
}

#plus-btn {
    border-radius: 0px 3px 3px 0px;
}

.price {
    color: #FF6400; 
    font-weight: 500;
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
}

.menu-img {
    border-radius: 20px;
}

#bag-btn {
    all: unset; 
    background-color:  #FF6400;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    box-shadow: 3px 5px 10px #888888; 
}

.material-icons.md-light { 
    color: rgba(255, 255, 255, 1); 
}

.material-icons.md-grey { 
    color: grey;  
}

.material-icons.md-20 { 
    font-size: 20px; 
}

.material-icons.md-14 { 
    font-size: 14px; 
}

.active {
    color:  #FF6400;
}

#previous-btn {
    all: unset; 
    background-color:#F0F3F5;
    color: black; 
    border-radius: 7px;
    padding: 4px 3px 1px 8px; 
    text-align: center; 

}

.bg{
    background-color: white; 
    padding: 7px;
    /* para poder ver los iconos */
}