
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');


body {
    font-family: 'Catamaran', sans-serif;
    background-color: #ffffff;
    margin: 0px;
}

h1 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0px;
}

h2 {
    font-weight: 550;
    font-size: 16px;
    margin-bottom: 0px; 
    margin-top: 30px;
}

h3 {
    font-weight: 700;
    font-size: 22px;
}

h4 {
    font-weight: 700;
    font-size: 17px; 
    letter-spacing: 2.5%;
    margin: 0px; 
}


h5 {
    font-weight: 500;
    font-size: 16px; 
    color: #C1C1C1;
    margin: 0px;
}

h6 {
    font-weight: 500;
    font-size: 14px; 
    color:#C1C1C1; 
    margin: 0px;
}

button {
    all: unset;
}

.categories-btn {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 109px;
    width: 87px;
    box-shadow: 13px 7px 10px rgba(0, 0, 0, 0.05);
    border-radius: 13px;
    margin-right: 16px;
}

.categories-btn img {
    height:50px;
    padding-top: 17px; 
}

.categories-btn p {
    text-align: center; 
    font-size: 12px; 
    font-weight: 700;
}


.counter-btn {
    background-color: white; 
    height: 22px;
    width: 20px;
    text-align: center;
    color: grey; 
    font-family: 'Catamaran', sans-serif;
}

#counter-num {
    all:unset; 
    background-color: #F0F3F5;
    width: 20px;
    height: 22px;
    font-size:11px;
    text-align: center;
    font-weight: 500;
    font-family:'DM Sans', sans-serif; 
}

#min-btn {
    border-radius: 3px 0px 0px 3px;
}

#plus-btn {
    border-radius: 0px 3px 3px 0px;
}

.price {
    color: #FF6B00; 
    font-weight: 500;
    font-size: 17px;
    font-family: 'DM Sans', sans-serif;
    margin: 10px 0px 0px 0px;
}

.quantity {
    width: 91px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; 
    margin: 4px 0px 0px 0px;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.12);
    border-radius: 6px; ;
}

.quantity__minus,
.quantity__plus {
  display: block;
  width: 30.33px;
  height: 31px;
  margin: 0;
  background: white;
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px; 
  line-height: 31px;
  text-align: center;
  color: #C1C1C1;
}

.quantity__minus {
    border-radius: 6px 0px 0px 6px;
}

.quantity__plus {
    border-radius: 0px 6px 6px 0px;
}

.quantity__input {
    width: 31px;
    height: 31px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #F3F3F5;
    border: none; 
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}


.menu-img {
    border-radius: 24px;
    width: 118px; 
    height: 122px;
    margin-right: 24px;
}

.modal-img {
    border-radius: 24px;
    width: 118px; 
    height: 122px;
}

.description-modal {
    width: 253px;
    height: 55px;
    font-family: Catamaran;
    font-size: 12px;
    line-height: 106.5%;
    text-align: center;
    letter-spacing: -0.005em;
    color: #000000;
}


.home-icon {
    width: 20px;
}

.box-icon {
    width: 23px;
}

.heart-icon {
    width: 23px;
}

.profile-icon {
    width: 20px;
}

.shop-icon {
    width: 20px;
    fill: white; 
    margin-top: 4px;
}


.bag-btn {
    position: absolute;
    all: unset; 
    background-color:  #FF6B00;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    text-align: center;
    align-items: center;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.37);
}


#previous-btn {
    all: unset; 
    background-color:#F0F3F5;
    color: black; 
    border-radius: 7px;
    padding: 4px 3px 1px 8px; 
    text-align: center; 

}

.bg{
    background-color: white; 
    padding: 7px;
    /* para poder ver los iconos */
}


.payment {
    background-color: #FF6B00;
    width: 374px; 
    height: 298px;
    padding: 0px;
}

#input-container{
    background:white; 
    width: 374px;
    height: 88px;
    border-radius: 64px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
}

input::placeholder {
    color: grey; 
    padding: 5px; 
}

.name-input{
    all: unset; 
    background: #F3F3F3;
    width: 333px;
    height: 50px;
    border-radius: 17px;
}

.titles-payment {
    font-size: 18px;
    color: #FFBE76; 
    font-weight: normal;
    width: 100px;
}

.result-payment {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: white;
    width: 100px;
}


