header {
    height: 131px;
    width: 315px;
    display: flex;
    flex-direction: column;
    justify-content: right; 
}

.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    margin-top: 20px;
    height: 130px;
}


.titles-payment {

}

.result-payment {

}