header {
    height: 131px;
    width: 315px;
    display: flex;
    flex-direction: column;
    justify-content: right; 
}

.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    margin-top: 20px;
    height: 130px;
}

.product {
    height: 122px;
    width: 305px;
    margin: 0px; 
    padding-bottom: 22px;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.modal {
    position: fixed; 
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: white; 
    width: 334px;
    height: 567px;
    margin: auto; 
    border-radius: 47px;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}


nav {
    height: 104px;
    background-color: white;
    overflow: hidden;
    position: fixed; 
    bottom: 0; 
    width: 100%;
    display: flex; 
    justify-content: space-around;
}

nav svg {
    display: inline-block;  
}
